@{
    ViewBag.Title = "Home Page";
}
<h1 style="text-align:center">CAMPUS MIND APPLICATION </h1>
<li style="text-align:center">
    <a href="/Home/AddLead/">Add Lead</a><br />
</li>
<li style="text-align:center">
    <a href="/Home/AddTechnology/">Add Technology</a>
    <br />
</li>
<li style="text-align:center">
    <a href="/Home/GetAllTechnologies/">Get AllTechnologies</a>
    <br />
</li>
<li style="text-align:center">
    <a href="/Home/TechnologiesAvialble">GetCountOfCandidatesBasedOnTechnology</a>
</li>
