@model CampusMindApp.Models.TechnologyModel

@{
    ViewBag.Title = "TechnologiesAvialble";
}

@Html.BeginForm()
{
<select name="TechnologyId">
    @foreach (var item in ViewBag.Data)
    {
        <option value="@item.TechnologyId">
            @item.TechnologyName
        </option>
    }
</select>
<input type="submit" name="submit" />

}

